<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Mi id es [[id]]</h2>
    <h3>y me llamo [[name]]</h3>
    <iron-ajax auto
      id="getPerson"
      url="http://localhost:3000/apitechu/v2/users"
      handle-as="json"
      on-response="showResponse"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          name: {
            type: String
          },
          id: {
            type: Number
          }
        };
      }
      showResponse(data){
        console.log(data.detail.response);
        this.id=data.detail.response[0].id_user;
        this.name=data.detail.response[0].first_name;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
